
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat";
}
/* Project stylings */

.projects{

    background-color: #ffffff;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Shop stylings */

.shop{

    background-color: #ffffff;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../img/landing-image.jpeg');
    min-height: 80vh;
    background-size: cover;
    background-position: center;
    padding: 15px;
}

.welcome-message{

    padding-top: 10rem;
}

.top-nav{
    min-height: 10vh;
   
    
}

.top-items{
    display: flex;
    justify-content:space-around;
    align-items: center;

    /* margin-left: 50px; */
}

.bi-geo-alt,.bi-telephone-plus{

    color:green;
    font-size:xx-large;

}


.top-item{

    display: flex;
    justify-content:space-around;
    align-items: center;
}

.nav-elements{
    margin-left: 80px;
  
}

.ul-items{

    padding-right: 60px;
    margin-right: 40px;
}

.bi-facebook,.bi-linkedin,.bi-instagram{

    color:white;
    font-size:x-large;
    margin-right: 20px;

}

.social-items{
    padding-right: 40px;
    
}

/* what we do section */

.what-we-do{
   
    /* min-height: 100vh; */
    background-color:rgb(207, 255, 255);
}

.heading{
    color: green;
    padding-top: 5px;

    font-weight: bold;
}

.we-do-statement h5{
    color: #23395d;

}

h3{
    color:#23395d ;
}


.read-more {
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    color: green;
}

.card{
    border: 1px solid grey;
    border-radius: 7px;
 
}

.card h5{

    color:#23395d
}

.card::before {
    content: "";
    height: 3px;
    background-color: #23395d;
    position: absolute;
    bottom: 0px;
    width: 50px;
    left: 0;
    right: 0;
    margin: auto;
    transition: all 0.5s ease;
 
}

.card:hover::before {
    width: 100%;
}

/* Contact stylings */

.map{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

#section-wrapper{
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
}
.box-wrapper{
    position: relative;
    display: table;
    width:1200px;
    margin:auto;
    margin-top:35px;
    border-radius: 30px;
   
}
.info-wrap{
    width:35%;
    height: 562px;
    padding: 40px;
    float: left;
    display: block;
    border-radius: 30px 0px 0px 30px;
    background: linear-gradient(144deg, rgb(18, 102, 52) 0%, rgb(0, 0, 0) 49%);
    color: #fff;
}
.info-title{
    text-align: left;
    font-size: 28px;
    letter-spacing: 0.5px;
}
.info-sub-title{
    font-size: 18px;
    font-weight: 300;
    margin-top: 17px;
    letter-spacing: 0.5px;
    line-height: 26px;
}
.info-details {
    list-style: none;
    margin: 60px 0px;
}
.info-details li {
    margin-top: 25px;
    font-size: 18px;
    color: #fff;
}
.info-details li i {
    background: black;
    padding: 12px;
    border-radius: 50%;
    margin-right: 5px;
}
.info-details li a {
    color: #fff;
    text-decoration: none;
}
.info-details li a:hover {
    color:#fff ;
}
.social-icons {
    list-style: none;
    text-align: center;
    margin: 20px 0px;
}
.social-icons li {
    display: inline-block;
}
.social-icons li i {
    background: black;
    color: #fff;
    padding: 15px;
    font-size: 20px;
    border-radius: 22%;
    margin: 0px 5px;
    cursor: pointer;
    transition: all .5s;
}
.social-icons li i:hover {
    background: #fff;
    color: #000000;
}
.form-wrap{
    width:65%;
    height: 562px;
    float: right;
    padding:40px 25px 35px 25px;
    border-radius: 0px 30px 30px 0px;
    background: #ecf0f3;
}
.form-title{
    text-align: left;
    color: green;
    margin-left: 23px;
    font-size: 28px;
    letter-spacing: 0.5px;
}
.form-fields{
    display: table;
    width: 100%;
    padding: 15px 5px 5px 5px;
}
.form-fields input,
.form-fields textarea{
    border: none;
    outline:none;
    background: none;
    font-size: 18px;
    color:#555;
    padding: 20px 10px 20px 5px;
    width:100%
}
.form-fields textarea{
    height: 150px;
    resize: none;
}
.form-group{
    width: 46%;
    float: left;
    padding: 0px 30px;
    margin: 14px 12px;
    border-radius: 10px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
}
.form-fields .form-group:last-child {
    width: 96%;
}
.submit-button{
    width: 96%;
    height: 60px;
    margin: 0px 12px;
    border-radius: 30px;
    font-size: 20px;;
    font-weight: 700;
    outline: none;
    border:none;
    cursor: pointer;
    color:#fff;
    text-align: center;
    background:green;
    box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
    transition: .5s;
}
.submit-button:hover{
    background:rgb(3, 59, 3);
}

/* Responsive css */

@media only screen and (max-width: 767px) {
    .box-wrapper{
        width: 100%;
    }
    .info-wrap,
    .form-wrap{
        width: 100%;
        height: inherit;
        float: none;  
    }
    .info-wrap{
        border-radius: 30px 30px 0px 0px;
    }
    .form-wrap{
        border-radius: 0px 0px 30px 30px;
    }
    .form-group{
        width: 100%;
        float: none;
        margin: 25px 0px;
    }
    .form-fields .form-group:last-child, 
    .submit-button{
        width: 100%;
    }
    .submit-button{
        margin: 10px 0px;
    }
   
}


/* FAQs stylings */

@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

.box{
   width: 1200px;
   margin: 100px auto;
   background: #fff;
   border-radius: 7px;
   box-shadow: 1px 2px 4px rgba(0,0,0,.3);
}

.box .heading{
   background: green;
   border-radius: 7px 7px 0px 0px;
   padding: 10px;
   color: #fff;
   text-align: center;
   font-family: "Rubik";
}

.faqs{
   padding: 0px 20px 20px;
}

::-webkit-details-marker{
   float: right;
   margin-top: 3px;
}

details{
   background: #f6f6f6;
   padding: 10px 20px;
   border-radius: 7px;
   margin-top: 20px;
   font-family: "Rubik";
   font-size: 14px;
   letter-spacing: 1px;
   cursor: pointer;
}

details summary{
   outline: none;
}
