{% extends 'main.html' %} 

{% block content %}

<div>
  <section id="ABOUT" class="about-wrapper pt-5">
    <div class="about-1">
      <h1>About Us</h1>
      <p>
        We are a utility company that provides sustainable solutions for energy,
        water & gas. As an African pioneer in the energy-tech space. Our company
        provides efficient domestic and industrial renewable energy solutions,
        Artificial Intelligence & IoT-based solutions for modern electrical and
        plumbing infrastructure & systems, building capacity for engineers &
        guaranteeing quality of works at base-standard rates within the
        continent by sourcing for quality materials at very low distributor
        prices.
      </p>
    </div>
    <div id="about-2">
      <div class="content-box-lg">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="about-item text-center">
                <i class="fa fa-book"></i>
                <h3>Mission</h3>
                <hr />
                <p>
                  To pioneer top-notch industry solutions, incorporating core
                  values of trust, reliability and integrity.
                </p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="about-item text-center">
                <i class="fa fa-globe"></i>
                <h3>Vision</h3>
                <hr />
                <p>
                  To be a benchmark in provision of quality premium services in
                  renewable energy solutions, smart metering and utility audits
                  using contemporary technology, qualified and competent
                  personnel and c-suite business standards and ethics.
                </p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="about-item text-center">
                <i class="fa fa-pencil"></i>
                <h3>Achievements</h3>
                <hr />
                <p>
                  Lorem ipsum dolor sit amet, consealias tenetur doloribus vitae
                  quo eaque, quae illo!fugit tempora ipsum maiores dolorum enim,
                  beatae qui quasialias tenetur doloribus vitae quo eaque, quae
                  illo!fugit tempora ipsum maiores dolorum enim
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Team section -->
	<div class="team-wrapper">
		<h1 class="pt-5">Our Team</h1>
		<div class="team">

		  <div class="team_member">
			<div class="team_img">
			  <img src="/static/img/team/team2.png" alt="Team_image">
			</div>
			<h3>Jecinta Ogola</h3>
			<p class="role">Chief Executive
        Officer</p>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quaerat tempora, voluptatum quas facere dolorum aut cumque nihil nulla harum nemo distinctio quam blanditiis dignissimos.</p>
		</div>
		  <div class="team_member">
			<div class="team_img">
			  <img src="/static/img/team/team1.png" alt="Team_image">
			</div>
			<h3>Kevin Mutugi</h3>
			<p class="role">Chief Commercial
        Officer</p>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quaerat tempora, voluptatum quas facere dolorum aut cumque nihil nulla harum nemo distinctio quam blanditiis dignissimos.</p>
		  </div>
      <div class="team_member">
        <div class="team_img">
          <img src="/static/img/team/team1.png" alt="Team_image">
        </div>
        <h3>Eng. Collin Kinuthia</h3>
        <p class="role">Chief Technical
          Officer
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quaerat tempora, voluptatum quas facere dolorum aut cumque nihil nulla harum nemo distinctio quam blanditiis dignissimos.</p>
        </div>

		  <div class="team_member">
			<div class="team_img">
			  <img src="/static/img/team/team2.png" alt="Team_image">
			</div>
			<h3>Judyth Onchaga</h3>
			<p class="role">Chief Financial
        Officer
      </p>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quaerat tempora, voluptatum quas facere dolorum aut cumque nihil nulla harum nemo distinctio quam blanditiis dignissimos.</p>
		  </div>

	

		</div>
	  </div>


</div>

{% endblock content %}
