{% extends 'base.html' %} {% block content %}

<div class="bigView">
<h2 style="text-align: center;" class="pt-5">AGRITECH</h2>

<div class="card more-card" style="width: 50%;">
  <div class="image">
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/85/Gfp-missouri-st-louis-clubhouse-pond-and-scenery.jpg/1199px-Gfp-missouri-st-louis-clubhouse-pond-and-scenery.jpg"
    />
  </div>

  <div class="des">
    <h5 class="desc-heading">Nutrition and Food Security</h5>

    <p class="justify">We believe in a society where no one will have to worry about where the next meal will come from and that the meal will be safe to prevent illnesses and deaths from hazardous chemicals and pollution.
        Our duty is to ensure the farmers get in whole, what is rightfully theirs if not double and encourage them to adopt the right resilient farm inputs and procedures to not only promote soil biodiversity but also sustainably produce safe and nutritious food for consumption so as to end all forms of malnutrition by the year 2030.
       
       
        </p>

        <p class="justify">
            We have invested in rural infrastructure, agricultural research and technology to increase agricultural capacity for farmers who practice both small-scale (through vertical farming technology that encourages people living in flats to grow their own vegetables on their balconies) and large-scale farming by using soil sensors that trigger irrigation patterns giving the soil the exact water needed, meaning zero waste and encouraging increased consumption of vegetable as opposed to harmful meat products.
        </p>

        
        <p class="justify">
            We control price volatility by incorporating a dealership distribution channel with existing fresh food vendors, consolidating deliveries based on location and need, using motorbikes and tuk tuks as modes of delivery to reduce expenses.
        No food produced is wasted. Each product is classified according to quality and size. We have different price categories for the domestic and export markets. To eliminate the middlemen (brokers), we have an ecommerce platform that links the farmer with the consumer indirectly ensuring the consumer enjoys fresh farm-to-plate products at relatively low prices while the farmer getting a fair price for the produce.
        </p>
  </div>
</div>

</div>


{% endblock content %}
