{% extends 'base.html' %} {% block content %}

<div class="bigView">
  <h2 style="text-align: center" class="pt-5">CONSTRUCTION</h2>

  <div class="card more-card" style="width: 50%">
    <div class="image">
      <img
        src="https://cdn.pixabay.com/photo/2018/01/09/03/49/the-natural-scenery-3070808_1280.jpg"
      />
    </div>

    <div class="des">
      <h5 class="desc-heading">Modern and Affordable Housing</h5>

      <p class="justify">
        We believe that for enhanced productivity at construction sites, modern
        construction technology solutions and IT services increase efficiency
        and cost savings. Due to the surge in urban population, the need and
        demand for housing options has also skyrocketed. To achieve this,
        industry experts rely on technology to automate, design and also manage
        the construction process
      </p>

      <p class="justify">
        Our solutions rely on data to help in optimizing the construction
        process. We provide a no-code platform that populates surveys,
        geolocation, design of 2D and 3D models, architectural design plans with
        certified bills of quantities based on inputs such as size of land,
        plinth area or house size, type of house, roof etc. We have partnered
        with registered architects, planners, surveyors and contractors to
        provide certified designs that are registrable and implementable.
      </p>

      <p class="justify">
        The resultant impact on the society is huge cost savings, convenience,
        better planning and development and also optimal management of resources
        during and upon project completion. This leads to a higher client
        satisfaction, better employment opportunities and also better management
        of resources leading to a cost-effective and time efficient construction
        process.
      </p>
    </div>
  </div>
</div>

{% endblock content %}
