{% extends 'base.html' %} {% block content %}

<div class="bigView">
  <h2 style="text-align: center" class="pt-5">EDUCATION</h2>

  <div class="card more-card" style="width: 50%">
    <div class="image">
      <img
        src="https://cdn.pixabay.com/photo/2018/01/09/03/49/the-natural-scenery-3070808_1280.jpg"
      />
    </div>

    <div class="des">
      <h5 class="desc-heading">Quality Education</h5>

      <p class="justify">
        Education is one of the most significant and effective agents of change
        in society. It is an important tool in improving employment
        opportunities, imparting skills and knowledge, improving health and
        livelihood, improving the economy and poverty eradication amongst
        others. It is for this reason that education technology solutions are
        important in achieving easier, faster and convenient learning.
      </p>

      <p class="justify">
        Through our edtech solutions, we have managed to impact teachers and
        students in different ways. First, we have created an engaged
        environment for learning. Our solutions have reduced distraction in
        schools and encourage active participation. This has also led to
        improved collaboration, parents are able to collaborate with teachers
        and students enabling seamless interaction and learning process. This in
        turn prepares the relevant stakeholders for future activities reducing
        chances of confusion or surprise especially with new different learning
        styles that are in the new curriculum.
      </p>

      <p class="justify">
        Analysis has shown that through our edtech solutions, there has been an
        improved learning experience. Teachers and students are provided with
        easy-to-access information, better learning and also inclusion of fun
        practices that make learning enjoyable. Additionally, through
        personalized learning opportunities, these solutions have impacted
        society by enabling remote learning and endless access to engaging
        content that promotes curiosity driven learning sparking
        inquisitiveness.
      </p>
    </div>
  </div>
</div>

{% endblock content %}
