{% extends 'base.html' %} {% block content %}

<div class="bigView">
<h2 style="text-align: center;" class="pt-5">EMPLOYMENT</h2>

<div class="card more-card" style="width: 50%;">
  <div class="image">
    <img
    src="https://cdn.pixabay.com/photo/2018/01/09/03/49/the-natural-scenery-3070808_1280.jpg"
  />
  </div>

  <div class="des">
    <h5 class="desc-heading">Job Creation & Sustainability</h5>

    <p class="justify">
        Mjuzi, a swahili name meaning artisan, and is a trademark under Kwizera Africa.

        </p>

        <p class="justify">
            Mjuzi is a platform that enables semi-skilled and skilled artisans in the mechanical, steel, plumbing and electrical fields, more-so women, to reach bigger markets creating opportunities for services to be rendered thus promoting sustainable economic growth in the informal sectors.

        </p>

        
        <p class="justify">
            Mjuzi provides insights on modern advanced technology to promote resource efficiency, innovation and ease in rendering services. 
        </p>

        
        <p class="justify">
            Mjuzi promotes youth employment, training and provision of quality services in sectors that have been termed as the neglected bottom-collar sectors in the job pyramid making them as lucrative as white-collar sectors.
        </p>

        
        <p class="justify">
            Mjuzi protects labour rights and promotes safe working environments with fair remuneration for services offered. The platform enables the artisans to brand themselves through our integrated framework to aid in any technical and reference assistance required to compete for tenders and bids that were traditionally set aside for big established enterprises. We partner and attach relevant documentation and expertise that could have potentially disqualified the artisan during the tender qualification process.

        </p>

        <p class="justify">
            Mjuzi, has negotiated terms and policies with stakeholders in a partnership to facilitate artisans on our platform to access free mentorship, affordable banking, insurance and financial services through partnering in a revenue share model. This cushions them from the high capital expenditure required to purchase raw materials and inputs for the delivery of  services.


        </p>

        <p class="justify">
           
            Mjuzi, in the past year has had over 1200 active users with a triple quarterly growth projection. We intend to register over 100,000 users as part of our global youth employment strategy by the end of 2023. 


        </p>
  </div>
</div>

</div>


{% endblock content %}
