{% extends 'base.html' %} {% block content %}

<div class="bigView">
  <h2 style="text-align: center" class="pt-5">ENERGY</h2>

  <div class="card more-card" style="width: 50%">
    <div class="image">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/85/Gfp-missouri-st-louis-clubhouse-pond-and-scenery.jpg/1199px-Gfp-missouri-st-louis-clubhouse-pond-and-scenery.jpg"
      />
    </div>

    <div class="des">
      <h5 class="desc-heading">Clean water and Energy</h5>

      <p class="justify">
        We are keen about ensuring universal access to affordable, reliable and
        modern energy and utilities by 2030. We provide a premium metering
        service to landlords and utility consumers of electricity, water and
        gas.
      </p>

      <p class="justify">
        Loss, vandalism and wastage of energy and utilities is the biggest
        problem that results in expensive and rationed access, if any, to
        electricity, water and gas. Through our smart metering services, we are
        able to mitigate loss and wastages on our system and employ early
        detection procedures to minimize loss. Our system is able to account for
        every unit of water or energy, giving remote logs real time and a
        pay-as-you-go model of revenue collection.
      </p>

      <p class="justify">
        Consumers are able to analyze and track their consumption real time with
        access to actionable insights geared towards helping them reduce their
        overall bill and be conscious about the effects of their unsustainable
        consumption.
      </p>

      <p class="justify">
        We are all about conservation, sustainability and green initiatives.
      </p>

      <p class="justify">
        We have crafted unique affordable models for consumers to adopt green
        renewable energy. Through our brand, Solar Electric, we have powered
        over 4000 households with solar and wind energy. Our best performing
        “lease-to-own” model has encouraged a higher uptake of renewable energy
        as the capital expenditure is spread across an extended time period
        making the infrastructure easy and faster to adopt.
      </p>

      <p class="justify">
        We have partnered with stakeholders in the government and private sector
        to push for policies that will see the expansion and upgrading of energy
        services and infrastructure giving the consumer price options and
        autonomy in their choice of utility provider.
      </p>
    </div>
  </div>
</div>

{% endblock content %}
