{% extends 'base.html' %} {% block content %}

<div class="bigView">
  <h2 style="text-align: center" class="pt-5">ENVIRONMENT</h2>

  <div class="card more-card" style="width: 50%">
    <div class="image">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/85/Gfp-missouri-st-louis-clubhouse-pond-and-scenery.jpg/1199px-Gfp-missouri-st-louis-clubhouse-pond-and-scenery.jpg"
      />
    </div>

    <div class="des">
      <h5 class="desc-heading">
        Waste Management & Environmental Sustainability
      </h5>

      <p class="justify">
        The problem of waste accumulation and its impact on the environment has
        been a growing concern over the years. In different parts of the world,
        this menace has caused grievous implications on health, population and
        also the economic and living standards. Having a data-driven approach is
        pertinent in waste management across the world. Use of technology in
        environment management could take place in different ways to achieve
        sustainable waste management.
      </p>

      <p class="justify">
        Technology makes it possible to have an efficient and effective way of
        managing waste. Our solutions employ artificial intelligence and block
        chain technology to address this problem of waste management. We have
        widely employed automatic waste segregation and deployment of sensor
        approaches for waste management in the region. The solutions ranging
        from smart bins, conversion and recycling through innovative approaches
        has led to better utilization of natural resources, efficient and
        effective alternative forms of energy and also creation of job
        opportunities.
      </p>
    </div>
  </div>
</div>

{% endblock content %}
