{% extends 'base.html' %} {% block content %}

<div class="bigView">
  <h2 style="text-align: center" class="pt-5">FINTECH</h2>

  <div class="card more-card" style="width: 50%">
    <div class="image">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/85/Gfp-missouri-st-louis-clubhouse-pond-and-scenery.jpg/1199px-Gfp-missouri-st-louis-clubhouse-pond-and-scenery.jpg"
      />
    </div>

    <div class="des">
      <h5 class="desc-heading">Reliable and Secure Financial Transactions</h5>

      <p class="justify">
        We live in a connected world and money is at the center of it. Financial
        transactions are engine driving operations across the world. Due to
        advancement in technology, cash transactions have been on the decline.
        Countries are adopting cashless transactions due to the benefits of
        convenience, speed, increased satisfaction and also better
        accountability.
      </p>
      <p class="justify">
        However, with an increase in cyber insecurity, we have developed
        contemporary financial tech solutions that offer security and
        reliability. Our solutions ensure that financial transactions are safe
        and comply with world-class standards. This is in line with SDG 9
        whereby we equip the African continent with a sustainable and resilient
        infrastructure for financial, technological and technical support to
        boost efficiency. Additionally, our solutions enable us to detect
        anomalies and correct them as fast as possible to prevent loss of
        resources.
      </p>
      <p class="justify">
        Through our solutions, our clients are guaranteed secure and reliable
        financial systems through block chain technology. We have integrated
        physical and digital payment methods for enhanced remittance services
        and easier and costly friendly payment methods. Due to enhanced speed,
        convenience and transparency, our solutions have impacted lives. Through
        innovation and a proper infrastructure, we believe that our solutions
        will change lives by enabling cross-border payment and optimal financial
        transactions amongst people and traders.
      </p>
    </div>
  </div>
</div>

{% endblock content %}
