{% extends 'base.html' %} {% block content %}

<div class="bigView">
  <h2 style="text-align: center" class="pt-5">HEALTH</h2>

  <div class="card more-card" style="width: 50%">
    <div class="image">
      <img
        src="https://cdn.pixabay.com/photo/2018/01/09/03/49/the-natural-scenery-3070808_1280.jpg"
      />
    </div>

    <div class="des">
      <h5 class="desc-heading">Quality Healthcare </h5>

      <p class="justify">
        We believe in a world where healthcare is affordable and accessible to all.

      </p>

      <p class="justify">
        We provide a platform that enables all healthcare workers to share information, facilitate research, development of vaccines and medicines to promote modern life saving practices to achieve universal healthcare coverage, reduce maternal mortality, fight communicable diseases and end all preventable deaths.
      </p>

      <p class="justify">
        Our platform is used globally, making it easy to attract donations and funding to support and promote recruitment, development, training and retention of healthcare workers in developing countries.This global integration of stakeholders in the health community improves early detection, study and warning systems for global health risks.
      </p>
    </div>
  </div>
</div>

{% endblock content %}
