{% extends 'main.html' %} {% block content %}

<div class="container-fluid full-screen">
  <div class="row wrapper">
    <div class="col-md-1"></div>

    <div class="col-md-10">
      <div id="capacity" class="text-white">
        <h1 id="welcome-message"></h1>
        <h2 id="continue"></h2>
      </div>
    </div>

    <div class="col-md-1"></div>
  </div>

  <!-- Services Section -->


  <!-- Testimonials section -->

  <div class="row testimonies text-center pt-5">
    <h2 class="test-heading">Testimonials</h2>

    <h3 class="text-center">What Our Clients Says</h3>

    <section class="testimonial-section">
      <div class="testimonial mySwiper">
        <div class="testi-content swiper-wrapper">
          <!-- looping through -->
          {% for testimonial in testimonials %}

          <div class="slide swiper-slide">
            <img src="{{ testimonial.image.url }}" alt="Image" class="image" />
            <p>{{testimonial.comment}}</p>

            <i class="bx bxs-quote-alt-left quote-icon"></i>

            <div class="details">
              <span class="name">{{testimonial.name}}</span>
              <span class="job">{{testimonial.job}}</span>
            </div>
          </div>

          {% endfor %}
        </div>
        <div class="swiper-button-next nav-btn"></div>
        <div class="swiper-button-prev nav-btn"></div>
        <div class="swiper-pagination"></div>
      </div>
    </section>
  </div>
</div>

{% endblock content %}
