{% extends 'base.html' %} {% block content %}

<div class="bigView">
  <h2 style="text-align: center" class="pt-5">MOBILITY</h2>

  <div class="card more-card" style="width: 50%">
    <div class="image">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/85/Gfp-missouri-st-louis-clubhouse-pond-and-scenery.jpg/1199px-Gfp-missouri-st-louis-clubhouse-pond-and-scenery.jpg"
      />
    </div>

    <div class="des">
      <h5 class="desc-heading">Smart Mobility</h5>

      <p class="justify">
        The main objectives of smart mobility are to reduce traffic congestion
        and air and noise pollution, increase safety, improve transfer speed,
        and reduce transfer costs between different modes of transportation. It
        involves the use of alternative methods of transport. In this
        contemporary world, we believe in a revolutionary approach that provides
        different modes of transport including electric vehicles and
        motorcycles, ride sharing and also on-demand mobility solutions.
      </p>

      <p class="justify">
        Our solutions have created a definite impact on the society by enabling
        flexibility, convenience and also better road safety. Additionally, the
        solutions have reduced cost of transportation and promoted equity and
        fairness by reducing time consumption during traveling. This has led to
        development of smart cities in different parts of the country and
        region.
      </p>

      <p class="justify">
        Additionally, our smart solutions have also opened up different regions
        leading to economic improvements. That is, the economy gains when there
        is better control of traffic, reduced noise pollution and also creation
        of more job opportunities. Therefore, through our solutions, the impact
        on the society is in line with UN SDGs and aims at creating and
        supporting a circular economy.
      </p>
    </div>
  </div>
</div>

{% endblock content %}
