{% extends 'base.html' %} {% block content %}


<div class="main">
    <h1 style="text-align: center;" class="pt-5 pb-3">Our Programmes</h1>

  <!-- Begining od cards -->

  <div class="row">
    <!--cards -->
    <div class="card col-md-4" style="width: 30rem">
      <div class="image">

        <a href="{% url 'agritech'%}">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/85/Gfp-missouri-st-louis-clubhouse-pond-and-scenery.jpg/1199px-Gfp-missouri-st-louis-clubhouse-pond-and-scenery.jpg"
        />

    </a>

  
      </div>
      <div class="title">
        <h2>AGRITECH</h2>
      </div>
      <div class="des">
        <p>Nutrition and Food Security</p>
        <a href="{% url 'agritech'%}" class="btn btn-outline-success">Read More</a>
      </div>
    </div>
    <!--cards -->

    <div class="card col-md-4" style="width: 30rem">
      <div class="image">
        <a href="{% url 'employment'%}">
        <img
          src="https://cdn.pixabay.com/photo/2018/01/09/03/49/the-natural-scenery-3070808_1280.jpg"
        />

    </a>
      </div>
      <div class="title">
        <h2>EMPLOYMENT</h2>
      </div>
      <div class="des">
        <p>Job Creation & Sustainability</p>
        <a href="{% url 'employment'%}" class="btn btn-outline-success">Read More</a>
      </div>
    </div>
    <!--cards -->

    <div class="card col-md-4" style="width: 30rem">
      <div class="image">
        <a href="{% url 'energy'%}">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/85/Gfp-missouri-st-louis-clubhouse-pond-and-scenery.jpg/1199px-Gfp-missouri-st-louis-clubhouse-pond-and-scenery.jpg"
        />
    </a>
      </div>
      <div class="title">
        <h2>ENERGY</h2>
      </div>
      <div class="des">
        <p>Clean water and energy</p>
        <a href="{% url 'energy'%}" class="btn btn-outline-success">Read More</a>

      </div>
    </div>
  </div>

  <div class="row">
    <!--cards -->

    <div class="card col-md-4" style="width: 30rem">
      <div class="image">
        <a href="{% url 'construction'%}">
        <img
          src="https://cdn.pixabay.com/photo/2018/01/09/03/49/the-natural-scenery-3070808_1280.jpg"
        />
    </a>
      </div>
      <div class="title">
        <h2>CONSTRUCTION</h2>
      </div>
      <div class="des">
        <p>Modern and affordable housing</p>
        <a href="{% url 'construction'%}" class="btn btn-outline-success">Read More</a>
      </div>
    </div>
    <!--cards -->

    <div class="card col-md-4" style="width: 30rem">
      <div class="image">
        <a href="{% url 'fintech'%}">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/85/Gfp-missouri-st-louis-clubhouse-pond-and-scenery.jpg/1199px-Gfp-missouri-st-louis-clubhouse-pond-and-scenery.jpg"
        />
    </a>
      </div>
      <div class="title">
        <h2>FINTECH</h2>
      </div>
      <div class="des">
        <p>Reliable and secure financial transactions</p>
        <a href="{% url 'fintech'%}" class="btn btn-outline-success">Read More</a>
      </div>
    </div>

    <!--cards -->

    <div class="card col-md-4" style="width: 30rem">
      <div class="image">
        <a href="{% url 'education'%}">
        <img
          src="https://cdn.pixabay.com/photo/2018/01/09/03/49/the-natural-scenery-3070808_1280.jpg"
        />
    </a>
      </div>
      <div class="title">
        <h2>EDUCATION</h2>
      </div>
      <div class="des">
        <p>Quality education</p>
        <a href="{% url 'education'%}" class="btn btn-outline-success">Read More</a>
      </div>
    </div>
  </div>

  <div class="row">
    <!--cards -->

    <div class="card col-md-4" style="width: 30rem">
      <div class="image">
        <a href="{% url 'mobility'%}">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/85/Gfp-missouri-st-louis-clubhouse-pond-and-scenery.jpg/1199px-Gfp-missouri-st-louis-clubhouse-pond-and-scenery.jpg"
        />
    </a>
      </div>
      <div class="title">
        <h2>MOBILITY</h2>
      </div>
      <div class="des">
        <p>Smart mobility</p>
        <a href="{% url 'mobility'%}" class="btn btn-outline-success">Read More</a>
      </div>
    </div>
    <!--cards -->

    <div class="card col-md-4" style="width: 30rem">
      <div class="image">
        <a href="{% url 'health'%}">
        <img
          src="https://cdn.pixabay.com/photo/2018/01/09/03/49/the-natural-scenery-3070808_1280.jpg"
        />
    </a>
      </div>
      <div class="title">
        <h2>HEALTH</h2>
      </div>
      <div class="des">
        <p>Quality healthcare</p>
        <a href="{% url 'health'%}" class="btn btn-outline-success">Read More</a>
      </div>
    </div>
    <!--cards -->

    <div class="card col-md-4" style="width: 30rem">
      <div class="image">
        <a href="{% url 'environment'%}">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/85/Gfp-missouri-st-louis-clubhouse-pond-and-scenery.jpg/1199px-Gfp-missouri-st-louis-clubhouse-pond-and-scenery.jpg"
        />
    </a>
      </div>
      <div class="title">
        <h2>ENVIRONMENT</h2>
      </div>
      <div class="des">
        <p>Waste Management & Environmental Sustainability</p>
        <a href="{% url 'environment'%}" class="btn btn-outline-success">Read More</a>
      </div>
    </div>
    <!-- End of cards -->
  </div>
</div>

{% endblock content %}
